# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\villa\OneDrive - UNIVERSIDAD NACIONAL DE INGENIERIA\Desktop\Archivos Daniel\LP\Compilar\Determinante\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
